body {
     background-color:orange;
     margin:15px 15px 20px 15px;
}
h1 {
   font-family:"Comic Sans MS", Cursive, Sans-Serif;
   text-align:center;
}
h2 {
   font-family:"Comic Sans MS", Cursive, Sans-Serif;
   text-align:center;
}

p {
  font-family:"Comic Sans MS", Cursive, Sans-Serif;
}

ul {
   font-family:"Times New Roman", Times, serif;
}